@model IEnumerable<AssessmentLocalTheatre.Models.Category>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Administration</h1>
                    <h2 class="subheading">Manage Post Categories</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>




